<div class="note" *ngIf="public || (afAuth.authState | async); else noPermission">
    <div class="note-container">    
        <div class="note-header">
            <mat-slide-toggle
                class="example-margin"
                [(ngModel)]="liveMode">
                Live Mode
            </mat-slide-toggle>
            <i class="material-icons" (click)="deleteNote()">delete_outline</i>
            <i class="material-icons" (click)="togglePrivacy(note.public)" *ngIf="!public">lock</i>
            <i class="material-icons" (click)="togglePrivacy(note.public)" *ngIf="public">lock_open</i>
            <div class="note-save-container" *ngIf="note">
                <span class="note-updated">Last Updated: {{ updatedDate | date:'medium' }}</span>
                <button mat-flat-button color="primary" *ngIf="!liveMode" (click)="saveContent()" [disabled]="!contentChanged">Save</button>
            </div>
        </div>
        <div class="note-body">
            <quill-editor
            [(ngModel)]="editorContent"
            [modules]="quillConfig"
            (onContentChanged)="onContentChanged()"></quill-editor>
        </div>
    </div>
</div>

<ng-template #noPermission>
    <p class="text-success">
        You do not have permission to view this note
    </p>
    <button mat-stroked-button routerLink="/login">Sign in</button>
</ng-template>