.note {
    height: 100%;

    .note-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .note-header {
            height: 80px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .note-updated {
                font-size: 12px;
                margin-right: 10px;
            }
        }

        .note-body {
            flex: 1;

            .ql-toolbar.ql-snow, .ql-container.ql-snow {
                border: none;
            }

            .ql-container {
                font-size: 14px;

                @media (max-width: 1024px) {
                    font-size: 16px;
                }
            }

            .ql-editor ol, .ql-editor ul {
                padding-left: 0;
            }

        }
    }
}